.container {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room-id-container {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.room-id-container button {
  line-height: 25px;
}

.room-id {
  font-size: 1.5em;
  margin: 0 5px 0 0;
}

.tip {
  color: #808080;
  margin: 0;
  font-size: 0.9em;
}

.game-grid-container {
  flex: 4;
  display: flex;
  align-items: flex-start;
}

.game-grid {
  height: 33vw;
  width: 33vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.shape-blue {
  background-color: #2256ff;
}

.shape-red {
  background-color: #ff0000bf;
}

.hidden {
  display: none;
}

@media (max-width: 992px) {
  .game-grid {
    height: 60vw;
    width: 60vw;
  }
}

@media (max-width: 678px) {
  .game-grid {
    height: 95vw;
    width: 95vw;
  }
}
