.container {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.score p {
  font-size: 1.3em;
  margin: 5px 0;
}

.game-end-container {
  display: flex;
  flex-direction: column;
}

.game-end-container p {
  font-size: 1.3em;
  text-align: center;
  margin: 0;
}

.game-end-question {
  display: flex;
  flex-direction: column;
}

.game-end-question p{
  margin: 5px 0;
}

.game-end-question-actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game-end-question-actions button {
  margin: 0 5px;
}

.game-grid {
  height: 35vw;
  width: 35vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  border: 1px solid #555555;
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}

.shape {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.shape-blue {
  background-color: #2256ff;
}

.shape-red {
  background-color: #ff0000bf;
}

.blue-player-color {
  color: #2256ff;
}

.red-player-color {
  color: #ff0000bf;
}

.visibility-hidden {
  visibility: hidden;
}

.display-hidden {
  display: none;
}

@media (max-width: 992px) {
  .game-grid {
    height: 60vw;
    width: 60vw;
  }
}

@media (max-width: 678px) {
  .game-grid {
    height: 95vw;
    width: 95vw;
  }
  .header {
    margin: 20px 0;
  }
  .game-end-container p,
  .score p {
    font-size: 1.2em;
  }
}
