<div class="container">
  <h1 class="title">Join a room</h1>
  <form>
    <mat-form-field>
      <mat-label>Room ID</mat-label>
      <input minlength="5" maxlength="5" [formControl]="roomId" matInput placeholder="Room ID">
      <mat-error *ngIf="roomId.hasError('required')">
        Room ID is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!roomId.hasError('required') && (roomId.hasError('minlength') || roomId.hasError('maxlength'))">
        Room ID must be 5 characters
      </mat-error>
    </mat-form-field>
    <p *ngIf="!otherPlayerJoined && isRoomJoined">This room is empty, waiting for a player to join...</p>
    <a [disabled]="!roomId.valid || isRoomJoined" mat-raised-button (click)="onJoinClick()" color="primary">Join</a>
  </form>
</div>
