.container {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  margin-top: 50px;
  font-size: 2.5em;
  font-weight: 500;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

form mat-form-field {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .form {
    margin-top: 30px;
  }
  .title {
    font-size: 2.2em;
  }
}
